<!DOCTYPE html>
<head>
    <title>ECE 1779 Assignment 2</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
</head>
<html>
<body>
    <div style="text-align:center">
    <h1>Simple Image Storage Site -- Group 8</h1>
    <h2>Image/Key</h2>
    <br>
    <button onclick="location.href = '{{url_for('upload_page')}}';" id="upload_button" class="button button1">
        Upload
    </button>
    <br><br><br><br>
    <button onclick="location.href = '{{url_for('display_page')}}';" id="display_button" class="button button1">
        Display
    </button>
    <br><br><br><br>
    <button onclick="location.href = '{{url_for('keys_page')}}';" id="show_keys_button" class="button button1">
        Show Keys in Database
    </button>
    </div>
</body>
</html> 
